.apoyo-box{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color:rgb(224, 219, 195) ;
    img{
        display: flex;
        height: 80%;
        width:40% ;
    }
}

